body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-background {
  min-height: 100vh;
  background-image: url('../app/components/assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}